
<div class="alert alert-danger" ng-repeat="msg in errors()">
  {{msg}}
</div>

<h2>Profile</h2>

<div ng-show="editMode()">
  <div class="form-group">
    <label>name</label>
    <input ng-model="user().name" class="form-control"/>
  </div>
  <div class="form-group">
    <label>email</label>
    <input ng-model="user().email" class="form-control"/>
  </div>
  <div ng-show="editMode()">
    <button class="btn btn-primary" ng-click="updateUser()">Update</button>
    <button class="btn btn-primary" ng-click="editMode(false)">Cancel</button>
  </div>
  <br />
</div>

<div ng-hide="editMode()">
  <dd>Name</dd>
  <dt>{{user().name}}</dt>
  <dd>Email</dd>
  <dt>{{user().email}}</dt>
</div>
<div>
  <dd>Role</dd>
  <dt>{{user().role}}</dt>
  <dd>Member since</dd>
  <dt>{{user().created_at}}</dt>
</div>

<br />

<button class="btn btn-primary" ng-click="editMode(true)">Edit</button>

<br/>
<br/>
<br/>

<button class="btn btn-danger" ng-click="confirmDeleteMode(true)">Delete account</button>

<br/>
<br/>

<div ng-show="confirmDeleteMode()">
  Are you sure you want to delete your account?
  <a href ng-click="confirmDeleteMode(false)">NO</a>
  |
  <a href ng-click="delete()">YES</a>
</div>
