
<h2>{{user().name}}</h2>

<div>
  <dd>Email</dd>
  <dt>{{user().email}}</dt>
  <dd>Member since</dd>
  <dt>{{user().created_at}}</dt>
</div>

<br />

<button class="btn btn-primary" ng-click="toggleDeleteConfirm()">Delete account</button>

<div ng-show="deleteConfirm">
  <br/>
  Are you sure you want to delete your account?
  <a href ng-click="delete()">yes</a>
  <a href ng-click="toggleDeleteConfirm()">no</a>
</div>
