
<h2>{{user().name}}</h2>

<div>
  <dd>Email</dd>
  <dt>{{user().email}}</dt>
  <dd>Role</dd>
  <dt>{{user().role}}</dt>
  <dd>Member since</dd>
  <dt>{{user().created_at}}</dt>
</div>

<br />

<button class="btn btn-primary" ng-click="confirmDeleteMode(true)">Delete account</button>

<div ng-show="confirmDeleteMode()">
  <br/>
  Are you sure you want to delete your account?
  <a href ng-click="confirmDeleteMode(false)">NO</a>
  |
  <a href ng-click="delete()">YES</a>

</div>
