<div ng-app="natesApp">

  <!-- navbar -->

  <nav class="navbar navbar-default navbar-inverse" ng-controller="NavCtrl">

    <div class="container-fluid">

      <ul class="nav navbar-nav">
        <li><a href="#/">Home</a></li>
        <li><a href="#/blog">Blog</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isAdmin()"><a href="#/manageusers">Manage Users</a></li>
        <li ng-hide="isLoggedIn()"><a href="#/login">login</a></li>
        <li ng-show="isLoggedIn()"><a href="#/profile">profile</a></li>
        <li ng-show="isLoggedIn()"><a href ng-click="logout()">logout</a></li>
      </ul>

    </div>

  </nav>

  <div class="container">
    <div ng-view></div>
  </div>

</div>
