

<div ng-app="App">
    
    <h1>Welcome to my app!</h1>
    
    <div ng-controller="AccountCtrl">
        
        <h2>Account Manager</h2>
        
        <h3>Accounts</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="account in accounts">
                    <td>{{account.first_name}} {{account.last_name}}</td>
                    <td>{{account.email}}</td>
                </tr>
            </tbody>
        </table>
        
        <h3>Add Account</h3>
        
        <div>
            <label for="first_name">First name</label>
            <input id="first_name" ng-model="first_name" />
        </div>
        
        <div>
            <label for="last_name">Last name</label>
            <input id="last_name" ng-model="last_name" />      
        </div>

        
        
    </div>
     
</div>