

<div class="alert alert-danger" ng-repeat="msg in errors()">
  {{msg}}
</div>

<!-- list of users -->
<div class="row">
  <div class="col-xs-12">

    <div id="user-list">
      <ul>
        <li ng-repeat="user in users()">
          {{user.name}} | {{user.email}} | {{user.role}} |
          <a href ng-click="editUser(user.id)">edit</a> |
          <a href ng-click="deleteUser(user.id)">delete</a>
        </li>
      </ul>
    </div>

  </div>
</div>


<!-- new/edit user form -->
<a href ng-click="isShowUserForm = !isShowUserForm">New user</a>
<div class="row" ng-show="isShowUserForm || editMode()">
  <div class="col-xs-12 col-sm-6 col-md-4">

    <h1>{{(editMode() ? "Edit" : "New")}} User</h1>

    <div ng-show="editMode()" class="form-group">
      <label>id</label>
      <input ng-model="user().id" class="form-control" disabled />
    </div>
    <div class="form-group">
      <label>name</label>
      <input ng-model="user().name" class="form-control"/>
    </div>
    <div class="form-group">
      <label>email</label>
      <input ng-model="user().email" class="form-control"/>
    </div>
    <div class="form-group">
      <label>role</label>
      <select ng-model="user().role" class="form-control">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>
    <div ng-hide="editMode()" class="form-group">
      <label>password</label>
      <input ng-model="user().password" class="form-control" type="password"/>
    </div>
    <div ng-hide="editMode()" class="form-group">
      <label>password confirmation</label>
      <input ng-model="user().password_confirmation" class="form-control" type="password"/>
    </div>

    <br/>

    <button ng-hide="editMode()" ng-click="createUser()" class="btn btn-primary">Create user</button>
    <button ng-show="editMode()" ng-click="updateUser()" class="btn btn-primary">Update user</button>
    <button ng-show="editMode()" ng-click="editMode(false)" class="btn btn-primary">Cancel</button>

  </div>
</div>
