<ul>
  <li ng-repeat="post in posts()">{{post.title}} | {{post.author_name}} |
    <a href ng-click="edit(post.id)">edit</a> |
    <a href ng-click="delete(post.id)">delete</a>
  </li>
</ul>

<a href ng-click="isAddNewPost = !isAddNewPost">New post</a>
<div ng-show="isAddNewPost || editMode()">
  <h2>{{ editMode() ? 'Edit Post' : 'Add Post'}}</h2>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group" ng-show="editMode()">
        <label>ID</label>
        <input ng-model="post().id" class="form-control" disabled/>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" ng-model="post().title" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea id="body" ng-model="post().body" class="form-control" rows="8"></textarea>
      </div>
      <div class="form-group">
        <label for="author">Author ID</label>
        <select id="author" class="form-control" ng-model="post().author_id" ng-options="a.id as a.name for a in authors()"></select>
      </div>
      <button class="btn btn-primary" ng-click="create()" ng-hide="editMode()">Add</button>
      <button class="btn btn-primary" ng-click="update()" ng-show="editMode()">Update</button>
      <button class="btn btn-primary" ng-click="editMode(false)" ng-show="editMode()">Cancel</button>
    </div>
  </div>
</div>
