body {

  // Normalization
  padding: 0;
  margin: 0;
  * {
    padding: 0;
    margin: 0;
  }

  // Global styles
  background: #000;
  color: #fff;
  font-family: Arial;
  a { color: #acf; }
  a:hover { color: #8af; }
  h1 { padding: 20px 0; }
  h2 { padding: 10px 0; }
  button {
    margin: 5px 5px 0 0;
    padding: 5px 20px;
    background: #acf;
    border: none;
    color: #025;
  }
  input {
    padding: 5px;
    margin: 5px 5px 5px 0;
  }
  label {
    padding-right: 5px;
    display: inline-block;
    min-width: 140px;
  }
  dd { float: left; margin-right: 20px; font-weight: bold; min-width: 140px; }
  dt {  }


  // Navbar
  nav.navbar {
    background: #333;
    padding: 20px;
    ul {
      li {
        display: inline;
        padding: 10px;
        a { text-decoration: none; }
      }
    }
  }

  // Container
  div.container {
    padding: 10px 30px;
  }

  // Flash messages
  div.flash {
    background: #333;
    padding: 5px 15px;
    margin: 5px 0px;
    &.error {
      color: #f58;
    }
    &.note {
      color: #acf;
    }
  }

}
